.btn-data{
    height: 50px;
    width: 200px;
    background-color: #870041;
    font-size: 23px;
    color:white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


}

.container-btn{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:gray;
   
}
.superhero-api-container{

   color: cadetblue; 
}
